---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";

---
<header>
  <p>Brand&Build</p>
  <Menu />
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    p {
      font-weight: 600;
    }

    nav {
      display: flex;
      gap: 1rem;
    }
  }
</style>